DATABASE_URL="postgresql://postgres:postgres@localhost:5432/real_estate_db?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/real_estate_db?schema=public"
JWT_SECRET="your_jwt_secret"
PORT=3000
DATABASE_SSL=0
ADMIN_EMAIL="admin@realestate.com"
ADMIN_PASSWORD="Admin123*"
